/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    background-color: #0f172a; // Slate-900
    color: #fff;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}